<phpunit bootstrap="vendor/autoload.php">
  <groups>
    <include>
      <group>unit</group>
      <group>QA</group>
    </include>
  </groups>
  <filter>
    <blacklist>
      <directory suffix=".php">tests</directory>
      <directory suffix="Interface.php">src</directory>
      <file>src/SyslogWriter.php</file>
    </blacklist>
  </filter>
</phpunit>
